<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MadMoneyUser"
     connectionString=" Server=SUJAN-PC\SQLEXPRESS;Integrated Security=true;Database=MadMoney;" providerName="System.Data.SqlClient" />
    <add name="UsersCredentials"
  connectionString=" Server=SUJAN-PC\SQLEXPRESS;Integrated Security=true;Database=UsersCredentials;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>